<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Software Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<img width="100%" th:src="@{../images/wellsFargoHeader.jpg}"/>
	</div>
	<div class="container">
		<h1>ApplicationGroup Management System</h1>
		<hr>
		<h2>Save ApplicationGroup</h2>

		<form action="#" th:action="@{/applicationGroup/saveApplicationGroup}" th:object="${applicationGroup}"
			method="POST">
			<input type="text" th:field="*{applicationGroupName}"
				placeholder="ApplicationGroup Name" class="form-control mb-4 col-4">

			<input type="text" th:field="*{applicationGroupEmail}"
				placeholder="ApplicationGroup Email" class="form-control mb-4 col-4">

			<button type="submit" class="btn btn-info col-2">Save
				ApplicationGroup</button>
		</form>

		<hr>

		<a th:href="@{/applicationGroup/}"> Back to ApplicationGroup List</a>
		<a th:href = "@{/}" > | Home </a>
		
	</div>
	<div class="container my-2">
		<img width="100%" th:src="@{../images/wellsFargoFooter.jpg}"/>
	</div>
</body>
</html>