<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Software Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>

	<div class="container my-2">
		<img width="100%" th:src="@{../images/wellsFargoHeader.jpg}"/>
	</div>
	<div class="container my-2">
		<h1>Machine List</h1>

		<a th:href="@{/machine/showNewMachineForm}"
			class="btn btn-primary btn-sm mb-3"> Add Machine </a>
	
		<a th:href = "@{/}" class="btn btn-primary btn-sm mb-3"> Home </a>

		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=machineName&sortDir=' + ${reverseSortDir}}">
							Machine Name</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=employeeId&sortDir=' + ${reverseSortDir}}">
							Employee Id</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=softwareId&sortDir=' + ${reverseSortDir}}">
							SoftwareId</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=applicable&sortDir=' + ${reverseSortDir}}">
							Applicable</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=installDate&sortDir=' + ${reverseSortDir}}">
							Install Date</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=comments&sortDir=' + ${reverseSortDir}}">
							Comments</a></th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="machine : ${listMachines}">
					<td th:text="${machine.machineName}"></td>
					<td th:text="${machine.employeeId}"></td>
					<td th:text="${machine.softwareId}"></td>
					<td th:text="${machine.applicable}"></td>
					<td th:text="${machine.installDate}"></td>
					<td th:text="${machine.comments}"></td>
					
					<td>
						<a th:href="@{/machine/showFormForUpdate/{id}(id=${machine.id})}" class="btn btn-primary">Update</a>
						<a th:href="@{/machine/deleteMachine/{id}(id=${machine.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>

		<div th:if="${totalPages > 1}">
			<div class="row col-sm-10">
				<div class="col-sm-2">Total Rows: [[${totalItems}]]</div>
				<div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
						th:if="${currentPage != i}"
						th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
						&nbsp;
					</span>
				</div>
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>

				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
				</div>
			</div>
		</div>
	</div>
	<div class="container my-2">
		<img width="100%" th:src="@{../images/wellsFargoFooter.jpg}"/>
	</div>
</body>
</html>