<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Software Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>

	<div class="container my-2">
		<img width="100%" th:src="@{../images/wellsFargoHeader.jpg}"/>
	</div>
	<div class="container my-2">
		<h1>Software Update Status Report</h1>

		<a th:href="@{/}" class="btn btn-primary btn-sm mb-3"> Home </a>
		
		<form th:action="@{/reports}">
			<br>
			Filter: <input type="text" name="keyword" th:value="${keyword}"> 
			<button type="submit" class="btn btn-info" >Search</button> 
			<!-- <button type="submit" class="btn btn-info" >Reset</button> -->
			<br>
			<br>
		</form>

		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th><a
						th:href="@{'/reports/page/' + ${currentPage} + '?sortField=applicationGroupName&sortDir=' + ${reverseSortDir}}">
							ApplicationGroup</a></th>
					<th><a
						th:href="@{'/reports/page/' + ${currentPage} + '?sortField=applicationGroupEmail&sortDir=' + ${reverseSortDir}}">
							Email</a></th>
					<th><a
						th:href="@{'/reports/page/' + ${currentPage} + '?sortField=softwareName&sortDir=' + ${reverseSortDir}}">
							Software</a></th>
					<th><a
						th:href="@{'/reports/page/' + ${currentPage} + '?sortField=softwareDesc&sortDir=' + ${reverseSortDir}}">
							Description</a></th>
					<th><a
						th:href="@{'/reports/page/' + ${currentPage} + '?sortField=softwareVer&sortDir=' + ${reverseSortDir}}">
							Version</a></th>
					<th><a
						th:href="@{'/reports/page/' + ${currentPage} + '?sortField=dueDate&sortDir=' + ${reverseSortDir}}">
							Due Date</a></th>
					<th><a
						th:href="@{'/reports/page/' + ${currentPage} + '?sortField=applicable&sortDir=' + ${reverseSortDir}}">
							Applicable</a></th>
					<th><a
						th:href="@{'/reports/page/' + ${currentPage} + '?sortField=appStatus&sortDir=' + ${reverseSortDir}}">
							Status</a></th>
					<th><a
						th:href="@{'/reports/page/' + ${currentPage} + '?sortField=completedDate&sortDir=' + ${reverseSortDir}}">
							Completed Date</a></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="report : ${listReports}">
					<td th:text="${report.applicationGroupName}"></td>
					<td th:text="${report.applicationGroupEmail}"></td>
					<td th:text="${report.softwareName}"></td>
					<td th:text="${report.softwareDesc}"></td>
					<td th:text="${report.softwareVer}"></td>
					<td th:text="${report.dueDate}"></td>
					<td th:text="${report.applicable}"></td>
					<td th:text="${report.appStatus}"></td>
					<td th:text="${report.completedDate}"></td>
				</tr>
			</tbody>
		</table>

		<div th:if="${totalPages > 1}">
			<div class="row col-sm-10">
				<div class="col-sm-2">Total Rows: [[${totalItems}]]</div>
				<div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
						th:if="${currentPage != i}"
						th:href="@{'/reports/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
						&nbsp;
					</span>
				</div>
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/reports/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>

				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/reports/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="container my-2">
		<img width="100%" th:src="@{../images/wellsFargoFooter.jpg}"/>
	</div>
</body>
</html>