<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Software Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container my-2">
		<img width="100%" th:src="@{../images/wellsFargoHeader.jpg}"/>
	</div>
	<div class="container">
		<h1>Thank you for your response.</h1>
	</div>
	<div class="container my-2">
		<img width="100%" th:src="@{../images/wellsFargoFooter.jpg}"/>
	</div>
</body>
</html>